
server {

    root /var/www/gameframe.joshhowe.com/html;
    index index.html index.htm index.nginx-debian.html;

    server_name gameframe.joshhowe.com;

    location / {
            try_files $uri $uri/ =404;
    }

    location /api/ {
         proxy_pass https://localhost:5002/;
         proxy_http_version 1.1;
         proxy_set_header Upgrade $http_upgrade;
         proxy_set_header Connection keep-alive;
         proxy_set_header Host $host;
         proxy_cache_bypass $http_upgrade;
         proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
         proxy_set_header X-Forwarded-Proto $scheme;
    }
}
server {
   listen 80;
   listen [::]:80;

   server_name gameframe.joshhowe.com www.gameframe.joshhowe.com
}
